@import "../../styles/colors";


.header_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    .header_container__search {
        background-color: $dark-secondary-color;
        color: white !important;

        input {
            color: white
        }
    }

    .header_container__utility {
        display: flex;
        gap: .5rem;
        border-radius: 50%;

        button {
            &:hover {
                background-color: $dark-secondary-color;
            }
        }
    }
}