@import "../../styles/colors";


.header_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;


    .header_container__utility {
        display: flex;
        gap: .5rem;
        border-radius: 50%;
    }
}